@{
    ViewBag.Title = "Home";
}
<link href="~/Content/Video.css" rel="stylesheet" />

<div class="video-wrapper">
    <video controls="controls" autoplay loop id="bgvid">
        <source src="~/Videos/sw4fullscreen.mp4" type="video/mp4" />
    </video>
</div>
