
@{
    ViewBag.Title = "Calles Chat";
}

<div style="margin-top:75px;">
    <h2>Calles Chat</h2>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <form action="~/CallesChat/Index" method="post">
                <div class="form-group"><input class="form-control" type="text" name="Text" placeholder="Skriv..." required /></div>
                <div class="form-group"><input class="btn btn-success" type="submit" value="Create Message" /></div>
            </form>
        </div>
    </div>
</div>
